<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>SIMPLE CRUD</span>
    <span class="example-spacer"></span>
    <ng-container>
        <button mat-icon-button class="example-icon btn btn-default" aria-label="Example icon-button with share icon"
        [routerLink]="['/profile']" >
        <!-- <mat-icon>share</mat-icon> -->
        Profile
    </button>
    <button mat-icon-button class="example-icon favorite-icon btn btn-default" aria-label="Example icon-button with heart icon"
        [routerLink]="['/blog']">
        <!-- <mat-icon>favorite</mat-icon> -->
        Blog
    </button>
    <button mat-icon-button class="example-icon btn btn-default" aria-label="Example icon-button with share icon"
        [routerLink]="['/book']">
        <!-- <mat-icon>share</mat-icon> -->
        Book
    </button>
    <button mat-icon-button class="example-icon btn btn-default" aria-label="Example icon-button with share icon"
        (click)="logout()">
        <!-- <mat-icon>share</mat-icon> -->
        Logout
    </button>
    </ng-container>

</mat-toolbar>