<div class="container d-flex justify-content-center align-items-center card m-4">
    <form [formGroup]="bookFormGroup" class=" card-body form col-md-6" >
        <div class="mb-3" *ngIf="paramId === ''">
            <label for="id" class="form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" formControlName="id" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" formControlName="name" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">Isbn</label>
            <div class="col-sm-10">
                <input type="text"  formControlName="isbn" class="form-control">
            </div>
        </div>
        <ng-container formArrayName="authors">
           <div class="mb-3">
            <label for="authors" class="form-label">Authors</label>
            <div class="input-group mb-3" *ngFor="let author of authorsFormArray.controls; index as i">
                <input type="text" [formControlName]="i" class="form-control">
                <button type="button" (click)="deleteAuthor(i)" class="btn btn-danger">Del</button>
            </div>
           </div>
            <button type="button" (click)="addAuthor()" class="btn btn-primary">
                Add Author
            </button>
        </ng-container>
        <div class="mb-3 mt-4">
            <button type="button" (click)="submit()" class="btn btn-success">Save</button> 
        </div>
    </form>
    
</div>