
  <section>
        <form action="" [formGroup]="userFormGroup">
            <div class="form-group">
                <label for=""><span>Email</span></label>
                <input type="text" formControlName="email">
            </div >
            <div class="form-group">
                <label for=""><span>Name</span></label>
                <input type="text" formControlName="name">
            </div>
            <div class="form-group">
                <label for=""><span>Bio</span></label>
                <input type="text" formControlName="bio">
            </div>
            <div class="form-group">
                <label for=""><span>Active</span></label>
                <input type="text" formControlName="active">
            </div>
          </form>
  </section>