<div class="container m-4 justify-content-center d-flex align-items-center">
    <div class="card" style="width: 70%;">
        <form [formGroup]="blogFormGroup">
            <div class="card-body">
                <div class="mb-3" *ngIf="paramId === ''">
                    <label for="id" class="form-label">ID</label>
                    <input type="text"  formControlName="id" class="form-control">
                    <div *ngIf="true" id="validationServer03Feedback" class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" formControlName="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" formControlName="description" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" formControlName="author" class="form-control">
                </div>
                <ng-container formArrayName="comments">
                    <div class="mb-3">
                        <label for="authors" class="form-label">Comments</label>
                        <div class="input-group mb-3" *ngFor="let comment of commentsFormArray.controls; index as i">
                            <input type="text" [formControlName]="i" class="form-control">
                            <button type="button" (click)="deleteComment(i)" class="btn btn-danger">Del</button>
                        </div>
                    </div>
                    <button type="button" (click)="addComments()" class="btn btn-primary">
                        Add Comment
                    </button>
                </ng-container>
            </div>
            <div class="bg-primary  d-flex align-items-center justify-content-end">
                <button type="button" class="mt-2 mb-2 m-4 btn btn-success" (click)="save()">Save</button>
            </div>
        </form>
    </div>
</div>