/* You can add global styles to this file, and also import other style files */
//@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-card {
    max-width: 50%;
    margin: 2rem;
    margin-bottom: 8px;
}
section {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;

    .app-book {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}


mat-card-title-group {
    width: 300px !important;

    .author-container {
        display: flex;
        flex-direction: column;
    }
}

.card-footer {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,.12);
    padding: 10px 0px;
}
.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .title {
        text-transform: uppercase;
    }
}

.top-bar {
    .command-wrapper {
        width: 60%;
        padding: 2px 10px;
        border-radius: 15px;

        button {
            margin: 1rem;
        }
    }
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

